/*Navbar is white, with a bow shadow at the bottom, this is a flexbox centered with
a border at thhe bottom*/
.navbar-minimalist {
  height: 70px;
  background: white;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom:10px;
}
/*Nav bar image has been rounded */
.navbar-minimalist img {
  width: 50px;
  height: 50px;
}
